<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="csrf-token" content={{index .csrfToken}}>
    <title>{{.title}}</title>
    <link href="{{.favicon}}" rel="icon"/>
    <link rel="stylesheet"
          href="/fonts/roboto/roboto.css?family=Roboto:400,300,100,100italic,300italic,400italic,700,700italic">
    <link rel="stylesheet" href="{{index .mix "/lambda2/vendor.css"}}">
    <link rel="stylesheet" href="{{index .mix "/lambda2/paper.css"}}">
    <link rel="stylesheet" href="/fonts/themify/themify-icons.css">
    <link rel="stylesheet" href="{{index .mix "/lambda2/moqup.css"}}">
    <link rel="stylesheet" href="{{index .mix "/lambda2/dataform.css"}}">
    <link rel="stylesheet" href="{{index .mix "/lambda2/datagrid.css"}}">
    <link rel="stylesheet" href="{{index .mix "/lambda2/datasource.css"}}">
    <link rel="stylesheet" href="{{index .mix "/lambda2/chart.css"}}">
    <link rel="stylesheet" href="{{index .mix "/lambda2/agent.css"}}">
    <link rel="stylesheet" href="{{index .mix "/lambda2/puzzle.css"}}">
    <link rel="stylesheet" href="{{index .mix "/lambda2/analytic.css"}}">
    <link rel="stylesheet" href="{{index .mix "/control_panel/moqup_view.css"}}">
    <link rel="stylesheet" href="{{index .mix "/control_panel/control.css"}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons"/>
    {{range $extraStyle := .extraStyles}}
        <link rel="stylesheet" href="{{ $extraStyle }}">
    {{end }}
</head>
<body>
<div id="app" class="app-wrapper">
</div>

<script src="{{index .mix "/lambda2/manifest.js"}}"></script>
<script src="{{index .mix "/lambda2/vendor.js"}}"></script>
<script src="{{index .mix "/lambda2/datagrid-vendor.js"}}"></script>
<script src="{{index .mix "/lambda2/paper.js"}}"></script>

{{range $extraScript := .extraScripts}}
    <script src="{{$extraScript}}"></script>
{{end }}
<script>
    window.app_logo = "/geosystem/logo.png";
</script>
<script type="text/javascript" src="/static/echart/echarts-en.js"></script>
<script type="text/javascript" src="/static/macarons.js"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
<script>
    window.init = {
        logo: {{.logo}},
        themeColors: {{.themeColors}},
        themeMode: {{.themeMode}},
        primaryColor: {{.primaryColor}},
        logo_dark: {{.logo_dark}},
        logo_light: {{.logo_light}},
        brandBtnUrl: {{.brandBtnUrl}},
        user: {{.User}},
        permissions: {{.permissions}},
        cruds: {{.cruds}},
        menu: {{.menu}},
        guide: {{.guide}},
        withCrudLog: {{.withCrudLog}},
        crud_mode: 'refresh',
        data_form_custom_elements: {{.data_form_custom_elements}},
        firebase_config: {{.firebase_config}}
    };
</script>
<script src="{{index .mix "/lambda2/moqup.js"}}"></script>
<script src="{{index .mix "/lambda2/dataform.js"}}"></script>
<script src="{{index .mix "/lambda2/dataform-builder.js"}}"></script>
<script src="{{index .mix "/lambda2/datagrid-vendor.js"}}"></script>
<script src="{{index .mix "/lambda2/datagrid.js"}}"></script>
<script src="{{index .mix "/lambda2/datagrid-builder.js"}}"></script>
<script src="{{index .mix "/lambda2/datasource.js"}}"></script>
<script src="{{index .mix "/lambda2/chart.js"}}"></script>
<script src="{{index .mix "/lambda2/krud.js"}}"></script>
<script src="{{index .mix "/lambda2/agent.js"}}"></script>
<script src="{{index .mix "/lambda2/analytic.js"}}"></script>
{{ if .UseNotify }}
    <script src="{{index .mix "/lambda2/notification.js"}}"></script>
{{ end }}
<script src="{{index .mix "/lambda2/page.js"}}"></script>
<script src="{{index .mix "/lambda2/page-nav.js"}}"></script>
<script src="{{index .mix "/control_panel/control.js"}}"></script>
<script src="{{index .mix "/control_panel/moqup_view.js"}}"></script>
</body>
</html>
