<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Khan Khulgun LLC</title>
    <link href="/catalog/images/trade_logo_blue.png" rel="icon"/>
    <link href=/{{mix "app.css"}} rel=stylesheet>
</head>
<body>
<div id=app></div>
<script>
    window.init = {{data}};
</script>
<script type=text/javascript src=/{{mix "manifest.js"}}></script>
<script type=text/javascript src=/{{mix "vendor.js"}}></script>
<script type=text/javascript src=/{{mix "app.js"}}></script>

</body>
</html>
